.container {
  height: 200px;
  width: 600px;

  border-radius: 50px;
  text-align: center;
  color: black;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: powderblue;
}

.container h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  color: black;
}

.container p {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  width: 100px;
  color: black;
  border-radius: 5px;
  padding: 7px;
}

#formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no {

  align-self: center;
  justify-self: center;
}

.yes {

}
